.Cockpit {
    text-align: center;
}

.Cockpit button {
    border: 1px solid burlywood;
    background-color: cornsilk;
}

.Cockpit button:hover {
    background-color: burlywood;
}

.Cockpit .selected {
    background-color: orange;
}